@{
    ViewData["Title"] = "Random";
}
<h1>@ViewData["Title"]</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" onclick="ajaxRandomNumber()">Genera un numero Casuale</button>
                <div id="resultValue"></div>
            </div>
        </div>
    </div>
